/* Elements disposition and block size */


.cart-list {
	width: 551px;
	border: 4px double black;
	background: #F5F5F5;
}

.cart-item {
	width: 450px;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.g-price-uah {
    display: inline-block;
    font-size: 1.38462em;
    line-height: 1em;
}
.g-balance {
	white-space: pre-line;
    display: inline-block;
    font-size: 1.38462em;
    line-height: 1em;
}

.g-price-uah-sign {
    font-size: .75rem;
    line-height: 1em;
}

#navbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 2px solid #0066FF;
	border-radius: 20px 5px;
	width: 550px;
	text-align: center;
	background-color: #33ADFF;
	margin-bottom: 20px;
}

#navbar li {
	display: inline;
}

#navbar a {
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	width: 100px;
}

#navbar a:hover {
	border-radius: 20px 5px;
	background-color: #0066FF;
}

.center {
	margin: auto;
	width: 600px;
}

.search-box {
	margin: auto;
	padding: 10px;
	width: 100%;
	overflow: hidden;
}

.search-box input[type="text"] {
	float: left;
	width: 85%;
	margin: 5px 0;
}

.search-box input[type="submit"] {
	float: right;
}

.prod-list {
	padding: 0 10px 10px 10px;
	margin: 0;
	overflow: hidden;
}

.prod-item {
	list-style: none;
	float: left;
	width: 288px;
	padding: 5px;
	
	border: 2px solid #33ADFF; /* ѕараметры границы */
    background: #F5F5F5; /* ÷вет фона */
    border-radius: 8px;
}

.action-box {
	overflow: hidden;
	padding: 0 10px 10px 10px;
}

.action-box a {
	float: right;
	margin-left: 10px;
}

.cart-buy {
	float: right;
	margin-top: 10px;
	margin-right: 63px;
}

.error-message {
	color: red;
}